Repository thm-mni-ii/graph-algo-ptas, pull requests merged in 2022-07, with the labels that each got.

#26 Add circle generator method
  src/data_structure/link_graph.rs
  src/lib.rs
  src/utils/circle.rs
  src/utils/mod.rs
Labels: util

#30 Add hash implemetation for link structs
  src/data_structure/link_graph.rs
Labels: data structure

#32 Add get_id to dart and faces
  src/data_structure/link_graph.rs
  src/data_structure/mod.rs
Labels: data structure

#35 Implement triangulation, span tree, dual graph and tree decomposition
  Cargo.toml
  src/algorithm/dualgraph.rs
  src/algorithm/mod.rs
  src/algorithm/spantree.rs
  src/algorithm/tree_decomposition.rs
  src/algorithm/triangulation.rs
  src/data_structure/dot_renderer.rs
  src/lib.rs
  src/utils/mod.rs
  src/utils/single_face.rs
Labels: algorithm

#36 Implement ord for link types
  src/data_structure/link_graph.rs
Labels: data structure
