Repository thm-mni-ii/graph-algo-ptas, pull requests merged in 2022-08, with the labels that each got.

#37 Extension of `GraphDCEL` with general graph functions
  src/algorithm/spantree.rs
  src/data_structure/graph_dcel.rs
  src/data_structure/link_graph.rs
Labels: data structure

#41 Add random graph generation
  .gitignore
  Cargo.toml
  src/data_structure/list_graph.rs
  src/data_structure/mod.rs
  src/debug/list_graph.rs
  src/debug/mod.rs
  src/generation/mod.rs
  src/generation/planar.rs
  src/lib.rs
Labels: data structure, algorithm

#45 Add doc comments to data_structure
  src/data_structure/dot_renderer.rs
  src/data_structure/graph_dcel.rs
  src/data_structure/link_graph.rs
  src/data_structure/list_graph.rs
  src/data_structure/mod.rs
  src/lib.rs
Labels: documentation, data structure

#47 Add job to publish docs to github pages
  .github/workflows/docs.yml
  README.md
Labels: documentation, CI/CD

#49 [list_graph] fix doc comment
  src/data_structure/list_graph.rs
Labels: documentation, data structure

#52 Implement Graph Embeding Converter
  Cargo.toml
  src/data_structure/graph_dcel.rs
  src/data_structure/link_graph.rs
  src/data_structure/link_graph/example.rs
  src/data_structure/list_graph.rs
  src/debug/list_graph.rs
  src/debug/mod.rs
  src/embeding/index.rs
  src/embeding/maximal_planar/index.rs
  src/embeding/maximal_planar/mod.rs
  src/embeding/maximal_planar/phase1.rs
  src/embeding/maximal_planar/phase2.rs
  src/embeding/maximal_planar/phase3.rs
  src/embeding/maximal_planar/stack_item.rs
  src/embeding/mod.rs
  src/generation/planar.rs
  src/lib.rs
Labels: data structure

#53 Add benchmark
  .github/workflows/pages.yml
  Cargo.toml
  README.md
  benches/embeding_benchmark.rs
  src/embeding/index.rs
  src/embeding/maximal_planar/index.rs
  src/embeding/maximal_planar/mod.rs
  src/embeding/mod.rs
  src/generation/mod.rs
  src/generation/planar.rs
  src/lib.rs
Labels: benchmark, data structure

#56 Use custom badge for docs and benchmark
  README.md
Labels: documentation, benchmark

#57 Implement PTAS with Optimal Tree Decompositions
  Cargo.toml
  benches/embedding_benchmark.rs
  src/algorithm/dynamic_programming.rs
  src/algorithm/mod.rs
  src/algorithm/nice_tree_decomposition.rs
  src/algorithm/ptas.rs
  src/data_structure/list_graph.rs
  src/embedding/index.rs
  src/embedding/maximal_planar/index.rs
  src/embedding/maximal_planar/mod.rs
  src/embedding/maximal_planar/phase1.rs
  src/embedding/maximal_planar/phase2.rs
  src/embedding/maximal_planar/phase3.rs
  src/embedding/maximal_planar/stack_item.rs
  src/embedding/mod.rs
  src/embeding/index.rs
  src/generation/erdos_renyi.rs
  src/generation/mod.rs
  src/lib.rs
  src/utils/convert.rs
  src/utils/max_independent_set.rs
  src/utils/mod.rs
  src/utils/random_graph.rs
Labels: algorithm

#54 Add ring sementation
  src/data_structure/graph_dcel.rs
  src/data_structure/link_graph.rs
  src/data_structure/mod.rs
  src/data_structure/ring_segment.rs
Labels: data structure

#60 [embedding] embedded graph with three nodes
  src/embedding/maximal_planar/index.rs
  src/embedding/maximal_planar/phase2.rs
Labels: data structure

#64 Publish crate to crates.io
  .github/workflows/publish.yml
Labels: CI/CD

#65 Implement graph leveling and combine tree decomposition
  src/algorithm/dualgraph.rs
  src/algorithm/leveling.rs
  src/algorithm/mod.rs
  src/algorithm/spantree.rs
  src/algorithm/tree_decomposition.rs
  src/algorithm/triangulation.rs
  src/data_structure/graph_dcel.rs
  src/data_structure/link_graph.rs
Labels: algorithm

#68 [CI/CD][Pages] fix environment url
  .github/workflows/pages.yml
Labels: CI/CD

#67 Add more benchmarks
  Cargo.toml
  benches/embedding_benchmark.rs
  benches/generation_benchmark.rs
Labels: benchmark, data structure

#73 Add a command-line interface
  .vscode/settings.json
  Cargo.toml
  src/data_structure/dot_reader.rs
  src/data_structure/mod.rs
  src/generation/mod.rs
  src/main.rs
Labels: CLI

#75 [CI/CD] Fix crates.io deployment
  Cargo.toml
  README.md
Labels: CI/CD
